.visibility {
  display: none;
}

p {
  background-color: yellow;
  border: 4px solid blue;
  font-size: 30px;
}

ul li {
  text-decoration: none;
  background-color: lightgray;
  font-size: 20px;
  width: 200px;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgreen;
}

div h2 {
    color: brown;
    background-color: cornsilk;
    border: 5px solid blue;
    text-align: center;
}

form input[type=text] {
    background-color: yellow;
    width: 200px;
}

form label[id=title1] {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.setName{
    border: 5px dashed darkblue;
    width: 500px;
}
.slider_all {
 display: flex;
 justify-content: center;
}

.slider_radio {
  display: flex;
  justify-content: center;
 margin-top: 20px;
 margin-bottom: 60px;
}

#zdjecie1 {
  width: 600px;
  height: 300px;

}

#zdjecie2 {
  width: 600px;
  height: 300px;
  }

#zdjecie3 {
  width: 600px;
  height: 300px;
}

.b_all {
  position: relative;
  display: inline-block;
  float: left;
}

.img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(240, 246, 255, 0.7);
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  color: black;
  border: 5px;
  box-shadow: 0 0 10px ;
  }


.hidden {
  display: none
}
