body {
  background-image: url(winter.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.visibility {
  display: none;
}

p {
  background-color: yellow;
  border: 4px solid blue;
  font-size: 30px;
}

ul li {
  text-decoration: none;
  background-color: lightgray;
  font-size: 20px;
  width: 200px;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 72px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: gradientAnimationWithMove 3s linear alternate infinite;
    color: lightgreen;
    text-shadow:  4px 3px 5px red;

}

div h2 {
  color: brown;
  background-color: cornsilk;
  border: 5px solid blue;
  text-align: center;
}

form input[type="text"] {
  background-color: yellow;
  width: 200px;
}

form label[name="present_book"] {
  background-color: yellow;
}

form label[name="present_book"]:hover {
  background-color: green;
  color: white;
}

.radio {
  display: flex;
}

h3 {
  text-align: center;


form label[id="title1"] {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}



@keyframes gradientAnimationWithMove {
  0%{
    color: red;
    text-shadow:  1px 2px 1px red;
  }
  25%{
    color: rgb(164, 2, 2);
    text-shadow:  4px 3px 5px rgb(164, 2, 2);
  }
  
  50%{
    color: rgb(28, 169, 28);
    text-shadow:  4px 3px 5px rgb(28, 169, 28);
  }

  75%{
    color: rgb(71, 255, 5);
    text-shadow:  4px 3px 5px rgb(71, 255, 5);
  }
  
  100%{
    color: rgb(34, 240, 34);
    text-shadow:  4px 3px 5px rgb(34, 240, 34);
  }
  
form input[id]:hover {
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  background-color: pink;
  color: green;
}

.setName {
  border: 5px dashed darkblue;
  width: 500px;
}

.img{
  max-width: 500px;
  margin: 0 auto;
}

.img img{
  width: 100%;
}